.loading-bar{
    width: 0px;
    height: 8px;
    background-color: greenyellow;

}

.loading-text{
    font-size: 18px;
}

.loading-bar-full{
    width: 500px;
    height: 8px;
    background-color: greenyellow;
    transition: 2.5s;
}

.display-none{
    display: none;
}