@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

.contact-form {
  font-family: Manrope;
  color: white;
  max-width: 350px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #32f138;
  color: #fff;
  margin-left: 150px;
  align-self: center;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
