/* Login.css */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

.login-page {
  font-family: Manrope;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  color: azure;
}

h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.button4 {
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 50px;
  margin-right: auto;
  margin-left:auto;
}

.button:hover {
  background-color: #45a049;
}
